.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 20px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.form {
  border: 2px solid #fff;
  padding: 20px;
  border-radius: 16px;
}

.formImg {
  width: 200px;
}

.formTitle {
  font-size: 18px;
  color: #fff;
  padding: 16px 0;
}

.formLabel {
  padding-bottom: 10px;
  padding-left: 25px;
  font-weight: 400;
  padding-top: 20px;
  color: #fff;
}

.form input,
.form textarea {
  width: 100%;
  padding: 16px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  background-clip: padding-box;
  background-color: #FF6633;
  border: 2px solid #fff;
  border-radius: 35px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  /* // -webkit-appearance: none;
  // appearance: none; */
  outline: none;
}

.form button {
  all: unset;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
}

.formBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.formBtn {
  width: fit-content;
  padding: 20px 50px;
  border-radius: 35px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
}

.formBtn div {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 1em;
  pointer-events: none;
}

.formBtn span {
  padding-bottom: 0.1em;
  line-height: 1;
  transition: transform 1s cubic-bezier(.23, 1, .32, 1);
  text-transform: uppercase;
  color: #FF6633;
  font-weight: 500;
}

.formBtn:hover span {
  transform: translateY(-1em);
}

.formSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.formSuccessTitle {
  padding-top: 16px;
  color: #fff;
  font-size: 18px;
}

.formSuccessTitle span {
  font-size: 20px;
  font-weight: 600;
}

.formSuccess img {
  width: 250px;
  border-radius: 16px;
}